.movie-preview-wrapper {
  height: 389px;
  display: flex;
  margin-bottom: 26px;
  .movie-preview {
    height: 389px;
    width: 100%;
    background: #394b61;
    border-radius: 11px;
    display: flex;
    align-content: center;
    margin: auto;
    flex-direction: row;
    animation: movie-preview-animate 0.25s ease alternate;
    img.poster {
      border-radius: 6px 0 0 6px;
      animation: poster-animate 1s ease alternate;
    }
    .MuiImageListItem-root {
      height: 100% !important;
      width: 330px;
      flex: 0 0 330px;
      object-position: left center;
    }
    .movie-details {
      padding: 22px 34px 34px;
      flex: 1;
      animation: movie-details-animate 1s ease alternate;
    }
    .movie-info {
      display: flex;
      flex-direction: row;
      .title {
        flex: 0 0 130px;
        margin-right: 18px;
        font-size: 16px;
        margin-bottom: 0;
      }
      .desc {
        font-size: 14px;
        margin-top: 12px;
      }
    }
    .movie-info-imdb {
      margin: 0px 0 6px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      .progress-bg {
        position: relative;
        height: 8px;
        background: #283647;
        border-radius: 5px;
        width: 111px;
        margin-right: 24px;
        .progress {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          height: 100%;
          width: 50%;
          border-radius: 5px;
          background: #00e0ff;
          transition: 0.5s ease-out;
          animation: progress-animate 0.25s ease-out alternate;
        }
      }
    }
    .play-trailer-btns {
      margin-top: 16px;
    }
  }
}

@keyframes movie-preview-animate {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(100%);
  }
}

@keyframes poster-animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes movie-details-animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes progress-animate {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
