body {
  background: #273244;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;

  .App {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .btn-primary {
    background: #00e0ff;
    border-radius: 5px;
    color: #000000;
    text-transform: inherit;
    &:hover {
      box-shadow: none;
      background-color: rgb(0 224 255 / 62%);
    }
  }

  .btn-secondary {
    border-color: #00e0ff;
    border-radius: 5px;
    color: #00e0ff;
    text-transform: inherit;
    &:hover {
      box-shadow: none;
      border-color: rgb(0 224 255 / 62%);
    }
  }
}
